{% include "headers.html"%}
{%block content%}
<!-- <div class="body-container-wrapper"> -->
  <div class="body-contain pt-5">
    <div class="page-center pt-5">
      
      <div class="container"> 
        <div class="row"> 
          <div class="col-md-6 my-5 text-center">
      
      <i class="fa fa-cloud" aria-hidden="true"></i>
      <br>
      <br>
      <h1>Operation User <strong>Uploadssss</strong> The Files</h1>
      <br>
      <br>
      <a href="{{url_for('login')}}" class="btn btn-primary btn-lg p-4 " style=" background-color: #2196f3;" id="call-to-action"><span class="p-5 fs-2 fw-bolder">Operation</span></a>
      </div>

      <div class="col-md-6 my-5 text-center">
      
        <i class="fa fa-download" aria-hidden="true"></i>
        <br>
        <br>
        <h1>Client User <strong>Downloads</strong> The Files</h1>
        <br>
        <br>

        <a href="{{url_for('login')}}" class=" btn btn-primary btn-lg p-4" style=" background-color: #2196f3;" id="call-to-action"><span class="p-5 fs-2 fw-bolder">Client</span></a>

        
        </div>


     



       
        <!-- To-do list content -->
          <!-- <div class="col-md my-5 " style="overflow-y: auto; max-height: 300px;"> 
            
            <table class="table text-white mb-0">
        
                    <table class="table text-white mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Team Member</th>
                          <th scope="col">Task</th>
                          <th scope="col">Priority</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="fw-normal">
                          <th>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                              alt="avatar 1" style="width: 45px; height: auto;">
                            <span class="ms-2">Alice Mayer</span>
                          </th>
                          <td class="align-middle">
                            <span>Call Sam For payments</span>
                          </td>
                          <td class="align-middle">
                            <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                          </td>
                          <td class="align-middle">
                            <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                                class="fas fa-check fa-lg text-success me-3"></i></a>
                            <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                                class="fas fa-trash-alt fa-lg text-warning"></i></a>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
            </table>
          </div> -->
          
  </div>
  </div>
    </div>

    </div>
  </div>
<br>

{%include "footer.html"%}
{%endblock%}